.connect-main {
	grid-area: /* row-start */ 1 / /* column-start */ 1 / /* row-end */ 2 / /* column-end */ 2;
	margin: /* top */ 0em /* right */ 0em /* bottom */ 0em /* left */ 0em;
	place-self: stretch;
	display: grid;
	grid-template-rows: 1fr auto 1fr;
}

.user-name-input {
	grid-area: /* row-start */ 1 / /* column-start */ 1 / /* row-end */ 2 / /* column-end */ 2;
	margin: /* top */ 0em /* right */ 0em /* bottom */ 0.5em /* left */ 0em;
	place-self: /* align-self */ end /* justify-self */ center;
}

.connect-button {
	grid-area: /* row-start */ 2 / /* column-start */ 1 / /* row-end */ 3 / /* column-end */ 2;
	margin: /* top */ 0.5em /* right */ 0em /* bottom */ 0.5em /* left */ 0em;
	place-self: center;
}

.token-peer-input {
	grid-area: /* row-start */ 3 / /* column-start */ 1 / /* row-end */ 4 / /* column-end */ 2;
	margin: /* top */ 0.5em /* right */ 0em /* bottom */ 0em /* left */ 0em;
	place-self: /* align-self */ start /* justify-self */ center;
}
